body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #222;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-bottom: 2px solid #eee;
  background: linear-gradient(to right, #001f1d, #00312d, #014d45);
  position: sticky;
  top: 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.logo span:first-child {
  color: #b3b3b3;
}

.logo span:last-child {
  color: #a83232;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ffb400;
}

header {
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

.subtitle {
  color: #666;
  font-size: 14px;
}

main {
  width: 80%;
  margin: 20px auto;
}

section {
  margin-bottom: 30px;
}

h2 {
  border-left: 4px solid #ffb400;
  padding-left: 10px;
  color: #333;
}

.cast-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.cast {
  text-align: center;
  width: 150px;
}

.cast img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.rekomendasi-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.rekomendasi-list .film {
  width: 150px;
  text-align: center;
}

.rekomendasi-list .film img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.rekomendasi-list .film img:hover {
  transform: scale(1.05); 
}

.movie-card {
  width: 150px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.movie-card img:hover {
  transform: scale(1.05);
}

footer {
  background: linear-gradient(to right, #001f1d, #00312d, #014d45);
  color: white;
  text-align: center;
  padding: 35px 0;
  border-top: 4px solid #ffb400;
  font-size: 16px;
  letter-spacing: 1.2px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  gap: 40px;
}

.left-section {
  flex: .5;
}

.details-box {
  flex: 1.5;
  background: #fff;
  border: 1px solid #ddd;
  border-left: 4px solid #f4b400;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.5;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  height: fit-content;
  margin-top: 170px;
}

.details-box h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.details-box p {
  margin: 5px 0;
}


footer .brand {
  font-weight: bold;
  color: #ffb400;
}

footer .motto {
  color: #b3b3b3;
}

footer p {
  margin: 0;
}